<div id="myCart">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>My Cart</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> products!</p>
  </div>

  <% @cart_products.each do |product|%>
    <div id="cartProduct" class="my-1">
      <div class="p-3 bg-light border rounded-3 d-inline-flex align-items-center">
        <%=link_to category_product_path(product.category, product) do%>
          <%= image_tag(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{rand(1..100)}.png") %>
        <%end%>

        <div class="mx-2">
          <h5><%= link_to product.title.capitalize %></h5>
          <h6>$ <%= product.price %></h6>
          <%= link_to "Remove", remove_from_cart_path(product), id: "removeBtn", method: :put %>
        </div>
      </div>
    </div>
  <%end%>
</div>
