<div id="myCart">
  <div class="cart-info">
    <h4>My Cart</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> products!</p>
  </div>

  <% @cart_products.each do |product|%>
    <div id="cartProduct" class="cart-show my-3">
      <figure class="image">
        <%= image_tag(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{rand(1..100)}.png") %>
      </figure>

      <div class="info">
        <h4><%= link_to product.title.capitalize, category_product_path(product.category_id, product.id) %></h4>
        <p class="description">Dolores sit sint laboriosam dolorem culpa et autem. Beatae nam sunt fugit et sit et mollitia sed. Fuga deserunt tempora facere</p>
      </div>

      <div class="payment">
          <%= link_to "Remove", remove_from_cart_path(product), class: "button removeBtn", method: :put %>
        <p><b><%= product.price %></b></p>
      </div>
    </div>
  <%end%>
</div>
