<%= form_with model: category, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% @category.errors.full_messages_for(:title).each do |message| %>
      <div class="bg-warning border rounded-3 my-1"><%= message %></div>
    <% end %>
  </div>

  <div class="my-3">
    <%= form.submit %>
  </div>
<% end %>
