<div class="d-inline-flex w-100 justify-content-between bg-light border rounded-3">
  <div class="px-3">
    <%= link_to "Back", categories_path %>
  </div>
  <div class="px-3">
    <%= link_to "Edit", edit_category_path(@category) %>
  </div>
</div>

<div class="container-sidebar w-100">
  <div class="sidebar mr-3 p-4 bg-light border rounded-3">
    <% @features.each do |f| %>
      <div class="sidebar-attribute p-2">
        <span><%= f.capitalize %></span>
      </div>
    <% end %>
    <hr>
    <div class="sidebar-attribute p-2">
      <p><%= link_to "New product", new_category_product_path(@category) %></p>
    </div>
  </div>

  <div class="content d-grid wrapper">
    <% @category.products.each do |p| %>
      <div class="p-3 bg-light border rounded-3 d-inline-flex align-items-center">
          <figure>
            <%= image_tag(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{rand(1..100)}.png") %>
          </figure>

        <div class="mx-2">
          <h4><%= link_to p.title.capitalize, category_product_path(p.category_id, p.id) %></h4>
          <p><%= p.price %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
