<nav class="navigation-line">
  <%= link_to "Back", categories_path %>
  <%= link_to "Edit", edit_category_path(@category) %>
</nav>

<div class="category-show">
  <div class="sidebar">
    <% @features.each do |f| %>
      <div class="sidebar-attribute">
        <span><%= f.capitalize %></span>
      </div>
    <% end %>
    <hr>
    <div class="sidebar-attribute">
      <p><%= link_to "New product", new_category_product_path(@category) %></p>
    </div>
  </div>

  <div class="content">
    <% @category.products.each do |p| %>
      <div class="product-card d-inline-flex">
        <figure class="image">
          <%= image_tag(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{rand(1..100)}.png") %>
        </figure>

        <div class="info">
          <h4><%= link_to p.title.capitalize, category_product_path(p.category_id, p.id) %></h4>
          <p class="description">Dolores sit sint laboriosam dolorem culpa et autem. Beatae nam sunt fugit et sit et mollitia sed. Fuga deserunt tempora facere</p>
        </div>

        <div class="payment">
          <%= link_to "Add to cart", add_to_cart_path(p), class: "button add-to-cart", method: :put %>
          <p><b><%= p.price %></b></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
