<%= form_with model: [@product.category, @product], local: true do |form| %>
  <div>
    <div class="d-flex flex-column my-3">
      <%= form.label :title %>
      <div class="d-inline-flex ">
        <%= form.text_field :title %>
      </div>
      <% @product.errors.full_messages_for(:title).each do |message| %>
        <div class="bg-warning border rounded-3 my-1 "><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <% if @product.images.attached? %>
        <figure class="product-images">
          <div id="btn-left" class="carousel-btn button"><</div>
            <div class="image-container">
              <div class="slider">
                <% @product.images.each do |img| %>
                  <%= image_tag img.variant(resize: "150x150!"), class: "image-preview"  %>
                <% end %>
              </div>
            </div>
          <div id="btn-right" class="carousel-btn button">></div>
        </figure>
      <% else %>

      <% end %>

      <%= form.file_field :images, multiple: true %>
    </div>

    <div class="d-flex flex-column my-3">
      <%= form.label :description %>
      <%= form.text_field :description %>
      <% @product.errors.full_messages_for(:description).each do |message| %>
        <div class="bg-warning border rounded-3 my-1"><%= message %></div>
      <% end %>
    </div>

    <div class="d-flex flex-column my-3">
      <%= form.label :price %>
      <div class="d-inline-flex">
        <%= form.text_field :price %>
      </div>
      <% @product.errors.full_messages_for(:price).each do |message| %>
        <div class="bg-warning border rounded-3 my-1"><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="my-3">
    <%= form.label :features %>
    <div id="featuresList" class="d-flex flex-column">
      <%= form.fields_for :features do |subform| %>
        <%= tag.div id: "feature#{subform.index}", class: "d-inline-flex" do %>
          <%= subform.text_field :name, class: "mr-1" %>
          <%= subform.text_field :value, class: "mr-1" %>
          <%= tag.div class: "destroyNode border rounded-3 bg-white p-1" do %>
            <% features_ids = @product.features.map(&:id) %>
            <% if features_ids.compact.any?(subform.object.id) %>
              <%= link_to "X", category_product_feature_path(@product.category, @product, @product.features[subform.index]), id: "#{subform.index}", class: 'destroyBtn m-2 text-dark', method: :delete %>
            <% else %>
              <a class='text-dark'>X</a>
            <% end %>
          <% end %>
        <% end %>
        <% subform.object.errors.full_messages_for(:name).each do |message| %>
          <div class="bg-warning border rounded-3 my-1"><%= message %></div>
        <% end %>
        <% subform.object.errors.full_messages_for(:value).each do |message| %>
          <div class="bg-warning border rounded-3 my-1"><%= message %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="addFeature" class="my-3 border rounded-3 p-2 bg-white">
    <p>Add feature</p>
  </div>

  <div class="my-3">
    <%= form.submit class: "button" %>
  </div>
<% end %>

<script>
  // function clickLeftBtn() {
  //     $('#btn-left').click(() => {
  //         console.log('Click')
  //         $('.product-images .image-container').css({
  //             transition: "transform 0.4s ease-in-out",
  //             transform: 'translateX(-' + 180 + 'px)'
  //         })
  //     })
  // }
  //
  // function clickRightBtn() {
  //     $('#btn-right').click(() => {
  //         console.log('Click!')
  //         $('.product-images .image-container').css({
  //             transition: "transform 0.4s ease-in-out",
  //             transform: 'translateX(' + 180 + 'px)'
  //         })
  //     })
  // }



  $(document).ready(() => {

      $('input[type="file"]').on('change', () => {
          let srcArray = Array.from($('input[type="file"]').prop('files'))
          console.log(typeof srcArray)
          console.log(srcArray[1])

        srcArray.forEach((src) => {
          $('.product-images .image-container .slider').append($(
              '<img class="image-preview" src=' + URL.createObjectURL(src) + '>'
          ))
        })
      });

      let slideNow = 1;
      let translateWidth = 0;
      let slideCount = $('.slider').children().length;

      function nextSlide() {
          let slideCount = $('.slider').children().length;
          console.log('Clicl')
          if (slideNow === slideCount || slideNow <= 0 || slideNow > slideCount) {
              $('.slider').css('transform', 'translate(0, 0)');
              slideNow = 1;
          } else {
              console.log('Clck')
              translateWidth = -170 * (slideNow);
              $('.slider').css({
                  'transform': 'translate(' + translateWidth + 'px, 0)',
                  '-webkit-transform': 'translate(' + translateWidth + 'px, 0)',
                  '-ms-transform': 'translate(' + translateWidth + 'px, 0)',
              });
              slideNow++;
          }
      }

      function prevSlide() {
          let slideCount = $('.slider').children().length;
          if (slideNow === 1 || slideNow <= 0 || slideNow > slideCount) {
              translateWidth = -170 * (slideCount - 1);
              $('.slider').css({
                  'transform': 'translate(' + translateWidth + 'px, 0)',
                  '-webkit-transform': 'translate(' + translateWidth + 'px, 0)',
                  '-ms-transform': 'translate(' + translateWidth + 'px, 0)',
              });
              slideNow = slideCount;
          } else {
              translateWidth = -$('#viewport').width() * (slideNow - 2);
              $('.slider').css({
                  'transform': 'translate(' + translateWidth + 'px, 0)',
                  '-webkit-transform': 'translate(' + translateWidth + 'px, 0)',
                  '-ms-transform': 'translate(' + translateWidth + 'px, 0)',
              });
              slideNow--;
          }
      }

      $('#btn-right').click(function (){
          nextSlide()
      })

      $('#btn-left').click(function (){
          prevSlide()
      })
  })

</script>
