<nav class="navigation-line">
  <%= link_to "Back", category_path(@product.category) %>
  <%= link_to "Edit", edit_category_product_path(@product.category, @product) %>
</nav>

<div class="product-show">
  <div class="d-inline-flex">
    <figure class="image">
      <%= image_tag @product.images.first.variant(resize: "100x100!") %>
    </figure>

    <div class="info">
      <h4><%= @product.title.capitalize %></h4>
      <p class="description"><%= @product.description %></p>
      <p><i><%= link_to @product.store.name.capitalize, store_path(@product.store) %></i></p>
    </div>
  </div>

  <div class="payment">
    <%= link_to "Add to cart", add_to_cart_path(@product), class: "button add-to-cart", method: :put %>
    <p><b><%= @product.price %></b></p>
  </div>

  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <% @product.features.each do |f| %>
      <tr>
        <th><%= "#{f.name}:" %></th>
        <td><%= f.value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
