<logo class="bg-green">
    <h2><%= link_to "Money", :root %></h2>
</logo>

<nav>
  <%= link_to "Catalogue", categories_path %>

  <%if signed_in?%>
    <div>
      <%= link_to cart_path do %>
        <span>My Cart</span>
        <span class="cart-count">(<%=current_user.cart_count%>)</span>
      <%end%>
    </div>

    <div>
      <%=image_tag current_user.avatar.variant(resize: "20x20!") %>
      <%=link_to current_user.name, edit_user_registration_path %>
      <%=link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
   <%else%>
    <div>
      <%=link_to "Register", new_user_registration_path %>
      <%=link_to "Login", new_user_session_path %>
    </div>
  <%end%>
</nav>