<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TradePlatform" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'forms', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'cart', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice" style="position: absolute"><%= notice %></p>
    <p class="alert" style="position: absolute"><%= alert %></p>

    <header class="site-header sticky-top py-1">
      <%= render 'layouts/partials/header' %>
    </header>

    <main class="d-flex flex-column align-items-center">
      <%= yield %>
    </main>

    <footer class="container py-5">
      <%= render 'layouts/partials/footer' %>
    </footer>

  </body>
</html>
